.clients__section {
	@extend .section;
}
.clients__title {
	margin-bottom: 30px;
	@include fonts(700, 28px, 33px, 0.03em);
	text-align: center;
	@include mq(desktop) {
		margin-bottom: 50px;
		@include fonts(null, 36px, 42px, null);
	}
}

.clients__list {
	@extend %list;
	@include centredFlex;
	@include flexWrap(wrap, 30px);
}

.clients__link {
	@include centredFlex;
	width: 210px;
	height: 92px;

	@media screen and (min-width: 768px) {
		width: 226px;
		height: 92px;
	}
	@media screen and (min-width: 1200px) {
		width: 170px;
		height: 92px;
	}

	transition: color 250ms $transition-cube, border 250ms $transition-cube;
	outline: transparent;

	color: rgba(175, 177, 184, 1);
	border: solid 1px rgba(175, 177, 184, 1);
	border-radius: 4px;
	&:hover,
	&:focus {
		border: solid 1px $accent-colour;
		color: $accent-colour;
	}
}
.clients__image {
	fill: currentColor;
}
