@import "./utils/variables";
@import "./utils/placeholder";
@import "./utils/mixin";
@import "./components/header";
@import "./components/logo";
@import "./components/navigaton";
@import "./components/contacts";
@import "./components/hero-section";
@import "./components/benefits-section";
@import "./components/services-section";
@import "./components/team-section";
@import "./components/social-icons";
@import "./components/clients-section";
@import "./components/products-section";
@import "./components/footer";
@import "./components/address";
@import "./components/subscribe-block";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";
