.benefits__section {
	@extend .section;
}
.conteiner {
	@extend .container;
}
.benefits-title {
	@extend %hidden;
}
.benefits__list {
	@extend %list;
	@include mq(tablet) {
		@include centredFlex;
		align-items: baseline;
		@include flexWrap(wrap, 30px);
	}
}
.benefits__item {
	@include mq(mobile) {
		width: 450px;
	}
	@include mq(tablet) {
		width: 354px;
	}
	@include mq(desktop) {
		width: 270px;
	}
}
.benefits__item:not(:last-child) {
	margin-bottom: 30px;
	@include mq(tablet) {
		margin-bottom: 0;
	}
}

.benefits__decoration-bloc {
	@include centredFlex;

	margin-bottom: 30px;
	height: 120px;
	background-color: rgba(245, 244, 250, 1);
}
.benefits__title {
	@include fonts(700, 14px, 16px, 0.03em, uppercase);
	text-align: center;
	margin-bottom: 10px;
	@include mq(tablet) {
		text-align: start;
	}
}
.benefits__description {
	color: $title-text-colour;
	@include fonts(400, 14px, 24px, 0.03em);
}
