.logo {
	display: block;

	transition: color 250ms $transition-cube;

	text-decoration: none;
	color: $primary-text-colour;
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.19;

	&:hover,
	&:focus {
		color: $accent-colour;
	}
}
.logo--position-top {
	margin-right: 94px;
	padding-top: 24px;
	padding-bottom: 25px;
}
.logo--position-bottom {
	margin-bottom: 20px;
	color: $page-maintitle-color;
}
.logo--blue {
	color: $accent-colour;
}
