@media screen and (max-width:479px) {
.logo {
	margin-right: 276px;
	padding-top: 16px;
	padding-bottom: 16px;
}
}

.logo {
	display: block;




}
@media screen and (min-width:480px) {

	.logo--position-top {
		margin-right: 94px;
		padding-top: 24px;
		padding-bottom: 25px;
	}
	.logo--position-bottom {
		margin-bottom: 20px;
		color: $page-maintitle-color;
	}

	}



