@media screen and (max-width:767px) {
    .menu__content {
        display: none;
     
        position: fixed;
        top: 0;
        left: 0;
        width: 479px;
       background-color: $page-maintitle-color;
       height: 796px;
        &.is-open {
            display: block;
        }
    }
}
@media screen and (min-width: 768px) {
    .mobile__button {
        display: none;
    }
    .menu__content {
        display: flex;
    }
}

