@media screen and (max-width:767px) {
    .menu__content {
        
        display: none;
     
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      
        padding: 48px 40px;

        background-color: $page-maintitle-color;
       overflow-y: scroll;
      
        &.is-open {
            display: block;
        }
    }
    .navigation {
        margin-bottom: 64px;
    }
    .navigation__item:not(:last-child) {
        margin-bottom: 32px;
      } 
      .navigation__link {
        font-weight: 500;
        line-height: 1.18;
        font-size: 40px;
        letter-spacing: 0.02em;
        text-decoration: none;
      
        color: $primary-text-colour;
      
       
        &:hover,
        &:focus {
          color: $accent-colour;
        }
      
        &--current {
          color: $accent-colour;
        }   
      }
.contacts__list {
  margin-bottom: 64px;
}
.contacts__link--mobile {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $accent-colour;

  &:hover,
  &:focus {
    color: $primary-text-colour;
  }
}
  .contacts__link--mail {

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  
    color: $primary-text-colour;
  
    
    &:hover,
    &:focus {
      color: $accent-colour;
    }
    }
  }
@media screen and (min-width: 768px) {
    .mobile__button {
        display: none;
    }
    .menu__content {
        display: flex;
        width: 100%;
    }
}
