.navigation__list {
	@extend %list;
	@include centredFlex;
}
.navigation__item:not(:last-child) {
	margin-right: 50px;
}
.navigation__link {
	position: relative;

	padding-top: 32px;
	padding-bottom: 32px;
	display: block;

	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $primary-text-colour;

	transition: color 250ms $transition-cube;
	&:hover,
	&:focus {
		color: $accent-colour;
	}
}

.navigation__link--current {
	color: $accent-colour;
	&::after {
		position: absolute;
		left: 0;
		bottom: -1px;

		content: "";
		width: 100%;
		height: 4px;
		background-color: $accent-colour;
		border-radius: 2px;
	}
}
