@media screen and (max-width: 767px) {
	.menu__content {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;

		padding: 48px 40px;

		width: 100%;
		height: 100%;
		
		background-color: $page-maintitle-color;
		overflow-y: scroll;

		visibility: hidden;
		transform: translateX(-100%);

		transition: transform 250ms $transition-cube;
		&.is-open {
			visibility: visible;

			transform: translateX(0);
		}
	}
}
@include mq(tablet) {
	.mobile__button {
		display: none;
	}
	.menu__content {
		display: flex;
		width: 100%;
	}
}
