.team__section {
	@extend .section;
	background-color: #f5f4fa;
}
.team__title {
	margin-bottom: 30px;
	@include fonts(700, 28px, 33px, 0.03em);
	text-align: center;
	@include mq(desktop) {
		@include fonts(null, 36px, 42px, null);
		margin-bottom: 50px;
	}
}
.team__list {
	@extend %list;
	@include mq(tablet) {
		@include centredFlex;
		@include flexWrap(wrap, 30px);
	}
}
.team__item {
	text-align: center;
	background-color: $page-maintitle-color;
	&:not(:last-child) {
		margin-bottom: 30px;
		@include mq(tablet) {
			margin-bottom: 0;
		}
	}
}
.team__image {
	@extend .img;

	@media screen and (max-width: 768px) {
		width: 450px;
	}
	@include mq(tablet) {
		width: 354px;
	}
	@include mq(desktop) {
		width: 270px;
	}
}

.team__border {
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0px 0px 4px 4px;

	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__name {
	@include fonts(500, 16px, 19px, 0.03em);
	margin-bottom: 10px;
}
.team__proffesion {
	@include fonts(400, 16px, 19px, 0.03em);
	color: $title-text-colour;

	margin-bottom: 16px;
}
