.menu__content {
    display: none;
 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   background-color: $page-maintitle-color;
   height: 796px;
    &.is-open {
        display: block;
    }
}