.social-mobile__list {
    @extend %list;
    display: flex;
    padding-left: 40px;
}
.social-mobile__item:not(:last-child) {
    margin-right: 20px;
}
.social-mobile__link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
text-decoration: none;

letter-spacing: 0.02em;

color: #2196F3;
}