@mixin centredFlex($type: flex, $position: center, $direction: center) {
	display: $type;
	justify-content: $position;
	align-items: $direction;
}

// @mixin mobile {
// 	@media screen and (min-width:480px) {
// 		width: 480px;
// 	}
// }

// @mixin tablet {
// 	@media screen and (min-width:768px) {
// 		width: 768px;
// 	}
// }

// @mixin pc {
// 	@media screen and (min-width:1200px) {
// 		width: 1200px;	
// 	}
	
// }