.address__list {
	@extend %list;
}
.address__item:not(:last-child) {
	margin-bottom: 8px;
	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;
	}
}
.address__link {
	display: block;
	@include fonts(400, 14px, 24px, 0.03em);

	text-decoration: none;
	font-style: normal;

	color: $page-maintitle-color;
	transition: color 250ms $transition-cube;
	&:hover,
	&:focus {
		color: $accent-colour;
	}
}
.address__link--grey {
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms $transition-cube;
}
